* {
  box-sizing: border-box;
}
body {
  background-color: #edecea;
}
.header {
  text-align: center;
  margin-bottom: 50px;
}
.box-items {
  display: flex;
  height: 1090px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.item {
  width: 31.5%;
  flex-basis: 32%;
}
.item-1 {
  flex-basis: 23%;
  background: url('../img/img-1.jpg') no-repeat center;
  background-size: cover;
}
.item-2 {
  flex-basis: 23%;
  background: url('../img/img-2.jpg') no-repeat center;
  background-size: cover;
}
.item-3 {
  flex-basis: 48%;
  background: url('../img/img-3.jpg') no-repeat center;
  background-size: cover;
}
.item-4 {
  flex-basis: 48%;
  background: url('../img/img-4.jpg') no-repeat center;
  background-size: cover;
}
.item-5 {
  padding-top: 80px;
  text-align: center;
  flex-basis: 23%;
  background-color: #fff;
}
.item-5 h3 {
  font-size: 22px;
  font-weight: bold;
}
.item-5 h4 {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.item-6 {
  flex-basis: 23%;
  background: url('../img/img-5.jpg') no-repeat center;
  background-size: cover;
}
.item-7 {
  flex-basis: 23%;
  background: url('../img/img-6.jpg') no-repeat center;
  background-size: cover;
}
.item-8 {
  flex-basis: 48%;
  background: url('../img/img-7.jpg') no-repeat center;
  background-size: cover;
}
.item-9 {
  flex-basis: 23%;
  background: url('../img/img-8.jpg') no-repeat center;
  background-size: cover;
}
