.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
 
.col-xs-1-5 {
  width: 20%;
  float: left;
}
 
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.header {
  text-align: center;
  color: #fff;
}
.main {
  height: 100vh;
    color: #fff;
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;

}

.main_form-control {
  height: 50px;
  padding-right: 100px;
  font-size: 18px;
  font-weight: 300;
  color: #929292;
  padding-left: 37px;
  box-shadow: none;
  outline: none;
  border-style: none;
  border: 1px solid #e2e2e2;
}

.main_btn {
  width: 113px;
  height: 50px;
  padding-right: 25px;
  margin-left: 37px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  background-color: #77c344;
  background-position: 120px 18px;
  border: 1px solid #e2e2e2;
}



.header-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.main-navigation {
  text-align: right;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 34px;
  text-transform: uppercase;
  font-weight: 400;
}
.main-navigation li::last-child {
  padding-right: 0;
}
.main-navigation a {
  color: #2d394c;
}
.main_cloud-tl {
  padding-top: 120px;
}
.main_cloud-br {
  padding-top: 140px;
}
.main-caption {
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-caption h1 {
  font-size: 52px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-desc {
  margin-bottom: 55px;

}
.main-desc h3 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
.main-sign {
  margin-bottom: 30px;
}
.main-sign p {
  font-size: 16px;
  font-style: medium;
}
.main-sign__link {
  padding: 9px 10px 7px 10px;
  border-radius: 5px;
    color: #fff;
  background-color: #ffce54;
}
.box-item {
  padding-top: 60px;
  padding-bottom: 55px;
  object-fit: cover;
}