
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/subset-BebasNeueRegular.eot');
    src: url('../fonts/subset-BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/subset-BebasNeueRegular.woff') format('woff'),
        url('../fonts/subset-BebasNeueRegular.ttf') format('truetype'),
        url('../fonts/subset-BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 22px;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
strong {
	font-weight: 800;
}
.font-1 {
	font-family: 'Roboto', sans-serif;
}

.font-2 {
font-family: 'Bebas Neue', sans-serif;

}
.font-3 {
font-family: 'Bad Script', cursive;
}
.font-4 {
	font-family: 'Lobster', cursive;
}