<ifModule mod_expires.c>

# Add correct content-type for fonts
AddType fonts/vnd.ms-fontobject .eot
AddType fonts/x-font-ttf .ttf
AddType fonts/x-font-opentype .otf
AddType fonts/x-font-woff .woff
AddType image/svg+xml .svg

# Compress compressible fonts
AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-opentype image/svg+xml

ExpiresActive On
ExpiresDefault "access plus 5 seconds"

# Cache Images
ExpiresByType image/x-icon "access plus 2592000 seconds"
ExpiresByType image/jpeg "access plus 2592000 seconds"
ExpiresByType image/png "access plus 2592000 seconds"
ExpiresByType image/gif "access plus 2592000 seconds"
ExpiresByType image/svg+xml "access plus 2592000 seconds"

# Cache Fonts
ExpiresByType fonts/vnd.ms-fontobject "access plus 2592000 seconds"
ExpiresByType fonts/x-font-ttf "access plus 2592000 seconds"
ExpiresByType fonts/x-font-opentype "access plus 2592000 seconds"
ExpiresByType fonts/x-font-woff "access plus 2592000 seconds"
ExpiresByType image/svg+xml "access plus 2592000 seconds"

# Cache other content types (Flash, CSS, JS, HTML, XML)
ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
ExpiresByType css/css "access plus 604800 seconds"
ExpiresByType js/javascript "access plus 2592000 seconds"
ExpiresByType js/javascript "access plus 2592000 seconds"
ExpiresByType js/x-javascript "access plus 2592000 seconds"
ExpiresByType html "access plus 600 seconds"
ExpiresByType xhtml+xml "access plus 600 seconds"

</ifModule>

<ifModule mod_deflate.c>

AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript

</ifModule>
